.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    align-items: flex-end;
    margin-right: 1rem;
}

.nav a {
    border-radius: 6px;
    text-align: center;
    width: fit-content ;
    margin:1rem;
    text-decoration: none;
    text-transform: uppercase;
    padding:0.5rem;   
    font-size: var(--font-size-small);
}

.active {
    background-color: var(--color-gray-900);
    color: var(--color-gray-950);
    font-weight: 600;    
}